<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/46a24d346e.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:3000">Mazir Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Nhập dữ liệu tìm kiếm" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
      <ul class="navbar-nav ml-auto">
        
    
        {{#each user}}
        {{#if this.role}}
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/admin">Quản lý</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="nav-item active">
          <a class="nav-link cart" href="http://localhost:3000/cart">Giỏ Hàng
            <span class="badge badge-light">
              {{#if session.cart.totalQty}}
              {{session.cart.totalQty}}
              {{else}}0
              {{/if}}
            </span>
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#if user}}
            {{#each user}}
            {{this.username}}
            {{/each}}
            {{else}} Người Dùng
            {{/if}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if login }}
            <a class="dropdown-item" href="http://localhost:3000/user/profile">Thông tin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Đăng xuất</a>
            {{else}}
            <a class="dropdown-item" href="/user/login">Đăng nhập</a>
            <a class="dropdown-item" href="/user/register">Đăng ký</a>
            {{/if}}

          </div>
        </li>
        
      </ul>

    </div>
  </nav>

</body>

</html>