<div class="mt-4">

    <div class="container" style="min-height: 530px;">
        {{#if gifts}}
        <div class=" row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Đơn giá</th>
                    </tr>
                </thead>
                <tbody>
                    <h1>Giỏ Hàng</h1>
                    {{#each gifts}}
                    <tr class="tr">
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.item.name}}</td>
                        <td class="qty">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{this.qty}}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="cart/reduce/{{this.item._id}}">-1</a>
                                    <a class="dropdown-item" href="cart/remove/{{this.item._id}}">Xóa</a>
                                </div>
                            </div>
                        </td>
                        {{!-- {{#each this.Carts}} --}}
                        {{!-- <td>{{this.name}}</td>
                        <td class="price">{{this.price}}</td> --}}
                        {{!-- {{/each}} --}}
                        <td class="price">{{this.price}}.000 vnđ</td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="container-checkout">
                    <div class="div">
                        <a href="http://localhost:3000/">
                            <button>
                                Chọn thêm sản phẩm
                            </button>
                        </a>
                    </div>
                    <div class="div">
                        <strong>Tổng số tiền: {{this.totalPrice}}.000 vnđ</strong>
                        <a href="/cart/checkout" type="button" class="btn btn-success">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <h2>Giỏ hàng trống</h2> Vui lòng <a href="http://localhost:3000/">Chọn sản phẩm</a>
</div>
{{/if}}

<script>
 var priceElements = document.querySelector('.gift-price')
      priceElements.textContent = parseInt(priceElements.textContent)
   
</script>